body {
	margin: 0 auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 302px;
	background-color: white;
}

label {
	color: #5f9341;
	font-weight: 900;
}

input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #5f9341;
	margin: 0.25rem auto;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	background: #5f9341;
	color: white;
	padding: 10px 20px;
	border: 1px solid #5f9341;
	font-weight: bold;
	width: 48%;
}

button:hover {
	opacity: 60%;
}

.rmv-btn {
	background: white;
	color: tomato;
	border-radius: 5px;
	width: min-content;
	height: min-content;
	padding: 4px 8px;
}

#delete-btn {
	background: white;
	color: tomato;
}

ul {
	margin-top: 20px;
	list-style: none;
	padding-left: 0;
}

li {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	color: #5f9341;
}
